{% extends 'base.html' %}

{% block header %}
  {% block title %}Documenti emessi{% endblock %}
{% endblock %}

{% block content %}
  {% if g.user %}
  <a class="action" href="{{ url_for('documento.create') }}">New</a>
  {% endif %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post.codice_fiscale }}</h1>
          <div class="about">by {{ post.id }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('documento.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post.descrizione }} {{ post.cliente.codice_fiscale }} ..</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}