{% extends 'base.html' %}

{% block header %}
  {% block title %}Documenti emessi{% endblock %}
{% endblock %}

{% block content %}
  {% if g.user %}
  <a class="action" href="{{ url_for('cliente.create') }}">New</a>
  {% endif %}

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Cliente
                </th>
                <th scope="col" class="px-6 py-3">
                    Color
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

        {% for cliente in clienti %}
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ cliente.cognome }} {{ cliente.nome }}
            </th>
            <td class="px-6 py-4">
                {% if cliente.codice_fiscale %}{{ cliente.codice_fiscale }}{% endif %}
            </td>
            <td class="px-6 py-4">
                Laptop
            </td>
            <td class="px-6 py-4">
                $2999
            </td>
            <td class="px-6 py-4">
                <a href="{{ url_for('cliente.update', id=cliente.id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
            </td>
        </tr>
        {% endfor %}
      
        </tbody>
    </table>
</div>

{% endblock %}