{% extends 'base.html' %}

{% block header %}
  {% block title %}Modifica cliente{% endblock %}
{% endblock %}

{% block content %}
<form class="max-w-sm mx-auto" method="post">
  <div class="mb-5">
    <label for="cognome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cognome</label>
    <input type="text" id="cognome" name="cognome" value="{{ request.form['cognome'] or cliente['cognome'] }}" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
  </div>
  <div class="mb-5">
    <label for="nome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
    <input type="text" id="nome" name="nome" value="{{ request.form['nome'] or cliente['nome'] }}" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
  </div>
  <div class="mb-5">
    <label for="codice_fiscale" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Codice Fiscale</label>
    <input type="text" id="codice_fiscale" name="codice_fiscale" value="{{ request.form['codice_fiscale'] or cliente['codice_fiscale'] }}" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
  </div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send</button>
</form>
{% endblock %}